<center>
  <h1>RoomRegistration</h1>
  <form action="/boards" method="POST">
    <input type="text" name="board_name">
    <input type="submit">
  </form>
  <ul style="list-style:none;">
    <% @board.each do |board| %>
      <li><a href="/boards/<%= board.name %>"><%= board.screen_name  %></a></li>
    <% end %>
  </ul>
</center>
