<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div style="margin-right: 10%; margin-left: 10%; margin-top: 5%;">
  <h1 style="text-align:center;"><%= @form_title.to_s %></h1><br>
  <form action="<%= @form_action.to_s %>" method="POST">
    <ul style="list-style:none;">
      <li><input type="mail" name="mail" class="form-control" placeholder="MailAddress" /></li><br>
      <li><input type="password" name="password" class="form-control" placeholder="Password" /></li><br>
      <li><input type="submit" class="form-control" value="<%= @submit_text.to_s %>"/></li><br>
    </ul>
  </form>
</div>
